* text=auto

#special files
.gitignore text eol=lf
.gitattributes text eol=lf
.env* eol=lf
.git* eol=lf
License text eol=lf
README.md text eol=lf
go.mod text eol=lf
go.sum text eol=lf


#source code
*.go text eol=lf diff=golang
*.json eol=lf
